@model ProductListViewModel

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="mb-4">
                @await Component.InvokeAsync("CategoriesMenu")
            </div>
            <div class="mb-4">
                @await Component.InvokeAsync("ProductFilterMenu")
            </div>
            <div products="" number="3">
            </div>
        </div>

        <div class="col-md-9">
            <div class="row my-3">
                @foreach (Product prd in Model.Products)
                {
                    <div class="col-md-4 mb-4">
                        <partial name="_ProductCard" model="@prd" />
                    </div>
                }
            </div>

            <div class="text-center">
                <div page-model="@Model?.Pagination"
                     page-action="Index"
                     page-classes-enabled="true"
                     page-class="btn"
                     page-class-normal="btn-outline-dark"
                     page-class-selected="btn-primary"
                     class="btn-group">
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer {
    <footer>
        <!-- Add footer content here -->
    </footer>
}
