<div class="bg-light border-top p-3">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="lead text-center ">
					<i class="fa-solid fa-store text-secondary display-6"></i>
					<br />
				</div>
				<div class="text-muted text-center">
					Store App
				</div>
			</div>
			<div class="col-md-8">
				<div class="text-center text-muted my-3">
					&copy; 2023 <br />Bu uygulama ASP.NET Core MVC eğitiminde
					<br>Birkan Karaer tarafından oluşturulmuştur.
				</div>

				<div class="text-center">
					<div class="btn-group">
						<a class="btn btn-secondary" href="https://github.com/birkankaraer">
							<i class="fa-brands fa-github"></i>
						</a>
						<a class="btn btn-secondary" href="https://www.linkedin.com">
							<i class="fa-brands fa-linkedin"></i>
						</a>
						<a class="btn btn-secondary" href="https://medium.com/&commat;karaermustafabirkan">
							<i class="fa-brands fa-medium"></i>
						</a>
						<a class="btn btn-secondary" href="mailto:karaermustafabirkan@gmail.com">
							<i class="fa-solid fa-envelope"></i>
						</a>
						<a class="btn btn-secondary">
							<i class="fa-brands fa-instagram"></i>
						</a>
					</div>
				</div>


			</div>
			<div class="col-md-2">
				<div products="" number="6"></div>
			</div>
		</div>
	</div>
</div>