@model IdentityRole

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4">Create Role</h1>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("Create", "YourControllerName"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-success">Create</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

