@model IEnumerable<IdentityRole>

<div class="container my-5">
	<h2 class="text-center">Role Management</h2>
	<div class="text-end mb-3">
		<a asp-action="Create" class="btn btn-outline-success">
			<i class="fa fa-solid fa-plus"></i>
			Add Role
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Role</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			@foreach (IdentityRole role in Model)
			{
				<tr>
					<td>@role.Id</td>
					<td>@role.Name</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-warning rounded-0" asp-action="Update" asp-route-id="@role.Id">
								<i class="fa fa-solid fa-edit"></i>
								Edit
							</a>
							<form method="post" asp-action="Delete" asp-controller="Role" asp-route-id="@role.Id">
								<button type="submit" class="btn btn-danger rounded-0">
									<i class="fa fa-solid fa-trash"></i>
									Delete
								</button>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
